<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".bluetoothTimer.BluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".SalaryActivity"
            android:exported="false" />
        <activity
            android:name=".SalaryListActivity"
            android:exported="false" />
        <activity
            android:name=".PastaActivity"
            android:exported="false" />
        <activity
            android:name=".CerealActivity"
            android:exported="false" />
        <activity
            android:name=".StepsActivity"
            android:exported="true" />
        <activity
            android:name=".traningTimer.TrainingActivity"
            android:exported="true" />
        <activity
            android:name=".moneyActivity.MoneyActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true"/>
        <receiver
            android:name=".bluetoothTimer.BlueTimerReceiver"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".traningTimer.traningService.EndlessService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

</manifest>